<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Natural Sciences Museum Science Café Events</title>
    <link>https://naturalsciences.org/calendar/events/</link>
    <description>Science Café events from the North Carolina Museum of Natural Sciences</description>
    <language>en-us</language>
    <item>
      <title>Museum Untold Tour (Dec 27, 2025)</title>
      <link>https://naturalsciences.org/calendar/event/museum-untold-tour-3/2025-12-27/</link>
      <guid>https://naturalsciences.org/calendar/event/museum-untold-tour-3/2025-12-27/</guid>
      <description>Join us on a fast-paced and engaging tour of the NCMNS! Experience the Museum’s exhibits like an insider. You’ll hear untold stories only Museum staff know. (What’s buried under the floor in the dino exhibit?) Discover hidden details among the dioramas, like a portrait of a cat painted into a mural. The tour begins promptly. Walking portion of the tour lasts approximately two hours. The tour ends in the Daily Planet Café where you can grab a beverage (included) and socialize with your guide and ...</description>
      <pubDate>Tue, 23 Dec 2025 17:43:03 -0500</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2024/02/IMGL0302edited-2-1024x894.jpg"/>
    </item>
  </channel>
</rss>
