<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Natural Sciences Museum Science Café Events</title>
    <link>https://naturalsciences.org/calendar/events/</link>
    <description>Science Café events from the North Carolina Museum of Natural Sciences</description>
    <language>en-us</language>
    <lastBuildDate>Mon, 27 Apr 2026 13:16:12 GMT</lastBuildDate>
    <item>
      <title>Science Trivia feat. State Archives &amp; Library of NC (May 7, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-trivia-feat-library-of-nc-state-archives/</link>
      <guid>https://naturalsciences.org/calendar/event/science-trivia-feat-library-of-nc-state-archives/</guid>
      <description>Trivia masters from the North Carolina Museum of Natural Sciences, the Library of NC Government &amp; Heritage Library, and the State Archives of North Carolina will join forces for the ultimate night of North Carolina science, science history, geography and culture. Let’s hope you’ve been using that library card! Gather in the Daily Planet Cafe with your team or play solo to compete for prizes, bragging rights, and perhaps even learn something cool. The Museum closes at 5 PM; the Daily Planet Cafe ...</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2022/01/ScienceTrivia_500x500.jpg"/>
    </item>
    <item>
      <title>Science Café: Follow your nose: Climate, Energetics, and Human Evolution (May 21, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe-follow-your-nose-climate-energetics-and-human-evolution/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe-follow-your-nose-climate-energetics-and-human-evolution/</guid>
      <description>Join us in person or watch the livestream on YouTube. Following the journey of Homo sapiens, Dr. Alexa Kelly will explore how climate influenced human evolution in diverse and extreme environments. Her research focuses on how evolutionary pressures shaped human anatomy, from skeletal structure to physiological adaptations using human skeletal remains in digital CT scans and physically collected remains from around the world. Dr. Alexa Kelly is an Assistant Professor of Anatomy at the Campbell Un...</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2026/04/kelly-science-cafe-1024x576.png"/>
    </item>
    <item>
      <title>Science Café (Jun 18, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe/2026-06-18/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe/2026-06-18/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. This month’s speaker will be announced soon! Please copy the URL below to share this page!</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
    </item>
    <item>
      <title>Science Café (Jul 16, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe/2026-07-16/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe/2026-07-16/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. This month’s speaker will be announced soon! Please copy the URL below to share this page!</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
    </item>
    <item>
      <title>Science Café (Aug 20, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe/2026-08-20/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe/2026-08-20/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. This month’s speaker will be announced soon! Please copy the URL below to share this page!</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
    </item>
    <item>
      <title>Science Café (Sep 17, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe/2026-09-17/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe/2026-09-17/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. This month’s speaker will be announced soon! Please copy the URL below to share this page!</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
    </item>
    <item>
      <title>Science Café (Oct 15, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe/2026-10-15/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe/2026-10-15/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. This month’s speaker will be announced soon! Please copy the URL below to share this page!</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
    </item>
    <item>
      <title>Science Café (Nov 19, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe/2026-11-19/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe/2026-11-19/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. This month’s speaker will be announced soon! Please copy the URL below to share this page!</description>
      <pubDate>Sat, 25 Apr 2026 10:16:12 +0000</pubDate>
    </item>
    <item>
      <title>Living Collections Members Night (May 22, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/living-collections-members-night/</link>
      <guid>https://naturalsciences.org/calendar/event/living-collections-members-night/</guid>
      <description>We invite Members to enjoy special after-hours access to our Living Collections Team. Meet remarkable animals up close, hear from expert staff, and discover behind-the-scenes stories you won’t experience during regular hours. This exclusive evening is our way of saying thank you for supporting the Museum—bringing you closer to the living world you help protect. Doors open at 6pm, last entry 7:45pm. Current membership and pre-registration required. Recommended for all ages. Not a member yet? Join...</description>
      <pubDate>Wed, 22 Apr 2026 21:16:15 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2020/09/living-conservatory-2.png"/>
    </item>
    <item>
      <title>Science Trivia (Aug 6, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-trivia-3/2026-08-06/</link>
      <guid>https://naturalsciences.org/calendar/event/science-trivia-3/2026-08-06/</guid>
      <description>What’s cooler than absolute zero? The answer is Science Trivia night at NCMNS! Questions feature a mix of science facts, current news, pop culture and scientific discoveries. Held in the Daily Planet Cafe the first Thursday of each month, this is a great opportunity to mingle with friends, compete for prizes and bragging rights, and perhaps even learn something cool. The Museum closes at 5 PM; the Daily Planet Cafe will remain open. Please copy the URL below to share this page!</description>
      <pubDate>Wed, 22 Apr 2026 21:16:15 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2022/01/ScienceTrivia_500x500.jpg"/>
    </item>
    <item>
      <title>Science Trivia (Jun 4, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-trivia-3/2026-06-04/</link>
      <guid>https://naturalsciences.org/calendar/event/science-trivia-3/2026-06-04/</guid>
      <description>What’s cooler than absolute zero? The answer is Science Trivia night at NCMNS! Questions feature a mix of science facts, current news, pop culture and scientific discoveries. Held in the Daily Planet Cafe the first Thursday of each month, this is a great opportunity to mingle with friends, compete for prizes and bragging rights, and perhaps even learn something cool. The Museum closes at 5 PM; the Daily Planet Cafe will remain open. Please copy the URL below to share this page!</description>
      <pubDate>Wed, 22 Apr 2026 10:16:10 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2022/01/ScienceTrivia_500x500.jpg"/>
    </item>
    <item>
      <title>Science Trivia (Oct 1, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-trivia-3/2026-10-01/</link>
      <guid>https://naturalsciences.org/calendar/event/science-trivia-3/2026-10-01/</guid>
      <description>What’s cooler than absolute zero? The answer is Science Trivia night at NCMNS! Questions feature a mix of science facts, current news, pop culture and scientific discoveries. Held in the Daily Planet Cafe the first Thursday of each month, this is a great opportunity to mingle with friends, compete for prizes and bragging rights, and perhaps even learn something cool. The Museum closes at 5 PM; the Daily Planet Cafe will remain open. Please copy the URL below to share this page!</description>
      <pubDate>Wed, 22 Apr 2026 10:16:10 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2022/01/ScienceTrivia_500x500.jpg"/>
    </item>
    <item>
      <title>Science Trivia (Jul 2, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-trivia-3/2026-07-02/</link>
      <guid>https://naturalsciences.org/calendar/event/science-trivia-3/2026-07-02/</guid>
      <description>What’s cooler than absolute zero? The answer is Science Trivia night at NCMNS! Questions feature a mix of science facts, current news, pop culture and scientific discoveries. Held in the Daily Planet Cafe the first Thursday of each month, this is a great opportunity to mingle with friends, compete for prizes and bragging rights, and perhaps even learn something cool. The Museum closes at 5 PM; the Daily Planet Cafe will remain open. Please copy the URL below to share this page!</description>
      <pubDate>Tue, 21 Apr 2026 18:16:30 +0000</pubDate>
      <enclosure type="image/jpeg" url="https://naturalsciences.org/calendar/wp-content/uploads/2022/01/ScienceTrivia_500x500.jpg"/>
    </item>
  </channel>
</rss>
