<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Natural Sciences Museum Science Café Events</title>
    <link>https://naturalsciences.org/calendar/events/</link>
    <description>Science Café events from the North Carolina Museum of Natural Sciences</description>
    <language>en-us</language>
    <lastBuildDate>Wed, 7 Jan 2026 19:15:58 GMT</lastBuildDate>
    <item>
      <title>Science Café (Apr 16, 2026)</title>
      <link>https://naturalsciences.org/calendar/event/science-cafe-2025-07-17-2025-12-18-2026-01-15-2026-04-16/2026-04-16/</link>
      <guid>https://naturalsciences.org/calendar/event/science-cafe-2025-07-17-2025-12-18-2026-01-15-2026-04-16/2026-04-16/</guid>
      <description>Grab a bite from the Daily Planet Café and join host Chris Smith for our monthly Science Café. Gather with other curious minds at this after-hours event for an informal presentation and conversation about current science topics with guest experts. The Daily Planet Café is open 5–8pm with a full menu during the Science Café. Details on this month’s speaker coming soon! Please copy the URL below to share this page!</description>
      <pubDate>Sun, 04 Jan 2026 11:16:02 +0000</pubDate>
    </item>
  </channel>
</rss>
